---
import Layout from "../layout/Layout.astro";
import TestButton from "../components/TestButton.svelte";
---

<Layout>
    <TestButton client:only={"svelte"} />
    <ul>
        <li>
            <a href="/CourseOne">Course One</a>
        </li>
        <li>
            <a href="/CourseTeo">Course Two</a>
        </li>
    </ul>
</Layout>
